<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="text-align: center;color: darkred" >New Student</h1>
    <hr />
    <form action="/students/saveOrUpdate" method="post">
        <table style="text-align: center">
            <tr>
                <td>StudentID: </td>
                <td><input type="text" name="studentId"/></td>
            </tr>

            <tr>
                <td>Name: </td>
                <td><input type="text" name="name"/></td>
            </tr>
        </table>

         <button>Save</button>
        <button formmethod="get" formaction="/students/list">List</button>
        <button formmethod="get" formaction="/students/search">Search</button>
    </form>
</body>
</html>